* {
	box-sizing:border-box;
}

body {
	min-width: 320px;
	font-family: "Open sans", "Geneva", "Helvetica", sans-serif;
	margin: 0 auto;
	background-color: #fff;
	overflow-x: hidden;
}

.wrapper-header-menu,
.wrapper-menu-and-lang {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.wrapper-header-menu  {
	justify-content: space-between;
}

.wrapper-menu-and-lang {
	justify-content: flex-end;
	
}

.logo {
	float: left;
	width: 80px;
	margin: 10px;
}

img {
	width: 100%;
	height: auto;
}

.icon-ios {
	color: #60606E;
	padding: 10px;
	cursor: pointer;
	font-size: 40px;
}

nav {
	position:relative;
	z-index:1000;
	order: 2;
}

.header {
	position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 200;
}

.menu {
	min-width: 320px;
	opacity: 0.8;
	background-color: #60606E;
	position: absolute;
	right: 0;
    top: 30px;
    display: none;
}
.menu li {
	list-style: none;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding: 8px;
}

.menu a {
	display: block;
}

.menu a:hover {
	color: #FABB90;
}

.menu-visible {
	display: block;
}

.menu-invisible {
	display: none;
}

.lang {
	order: 1;
}

.lang input {
	display: none;
}

.lang input:checked + label{
	background-color: #FABB90;
	border-radius: 50%;
	padding: 6px;
	color: #fff;
}

.lang label {
	font-size: 12px;
	padding: 2px;
	color: #60606E;
}

.text-on-slider {
	display: block;
	position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Marck Script', cursive;
	text-align: center;
}

.slider {
	margin-top: 90px;
}

.wrapper-content,
.wrapper-comment-block {
	display: flex;
	flex-flow: column nowrap;
}

.wrapper-about-massage {
	padding: 10px;
}

.header-text {
	color: #60606E;
	margin: 0 0 30px;
	font-size: 40px;
	text-align: center;
	font-family: 'Marck Script', cursive;
}

.header-text-description {
	color: #60606E;
	margin: 0 0 30px;
	font-size: 30px;
	text-align: center;
	font-family: 'Marck Script', cursive;
}

.price-text {
	color: #60606e;
    font-size: 21px;
    padding-top: 10px;
    margin: 30px 0;
    text-align: center;
}

.about-massage-block {
	border: 3px solid #EFEFEF;
	padding: 20px;
	margin-bottom: 20px;
}

.about-massage-block .send-mail {
	background-color: #FABB90;
	color: #fff;
	margin: 26px auto 0;
}

.header-text-secondary {
	color: #FABB90;
	font-size: 26px;
	text-align: left;
}

.secondary-text {
	color: #60606E;
}

.comments {
	background: #FABB90;
	padding-top: 20px;
}

.wrapper-comments{
	border-radius: 4px;
	margin: 10px 0 14px;
	padding: 20px 30px 10px;
}

.img-wrap{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background: #aab2bd;
	border-radius: 50%;
	overflow: hidden;
}

.comments-header-text {
	color: #fff;
	margin: 10px 0 20px 0;
	font-size: 25px;
	text-align: center;
}

.comments .header-text {
	margin-top: 20px;
	color: #fff;
}

.comments .secondary-text {
	color: #fff;
}

.bxslider {
	margin:0;
	padding: 0;
}

.slider .slider-text {
    font-size: 250%;
    color: #fff;
    position: absolute;
    z-index: 9999;
    text-align: center;
    bottom: 20%;
    width: 100%;  
}

.wrapper-certificates {
	padding: 10px;
}

.certificates-style {
	border: 3px solid #FABB90;
	padding: 4px;
	height: 250px;
	width: auto;
	margin: 0 auto;
}

.certificates-style-height {
	height: 100px;
	margin: 4px;
}

.wrapper-certificates .bx-wrapper .bx-viewport {
	height: 100% !important;
}
 
.wrapper-certificates .header-text {
	margin-top: 20px;
}

#bx-pager {
	display: flex;
   	flex-flow: row wrap;
   	justify-content: center;
}

.wrapper-form {
	padding: 10px;
	margin: 20px 0;
	background-color: #FABB90;
}

.wrapper-form .header-text {
	margin: 20px 0 0;
	color: #fff;
}

.wrapper-index,
.wrapper-all-form,
.all-input {
	display: flex;
	flex-flow: column nowrap;
}

.wrapper-all-form,
.all-input, {
	padding: 10px;
}

input {
	padding: 10px;
}

.wrapper-index input,
.wrapper-index textarea {
	margin-top: 26px;
	width: 100%;
	background-color: #fefcf9;
	border: 1px solid #e5e5e5;
	font-family: "open sans";
}

.wrapper-index input {
	height:50px;
}

.wrapper-index textarea {
	height: 128px;
	margin-bottom: 8px;
	padding: 10px;
	font-size: 14px;
}

.send-mail {
	margin: 26px 0 46px;
	display: block;
	width: 100%;
	padding: 12px;
	text-align: center;
	color: #60606E;
	background-color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.send-mail:hover {
	background-color: #c68a69;
	transition: 0.5s ease;
	color: #fff;
}

textarea:focus {
	border-color: #FABB90;
}

.wrapper-contact-block {
	display: flex;
	flex-flow: column nowrap;
	padding:10px;
}

.contact {
	order: 2;
	display: flex;
	flex-flow: column nowrap;
	margin: 20px auto;
}

.contact .secondary-text {
	text-decoration: none;
	line-height: 16px;
	font-size: 20px;
	padding: 10px;
}

.wrapper-photo {
	order:1;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	margin: 0 auto;
	background: #aab2bd;
	overflow: hidden;
}

footer {
	background-color: #FABB90;
	height: 60px;
	width: 100%;
}

.copyright {
	color: #fff;
	padding: 0 10px;
	float: right;
}

@media (min-width: 450px) {
	.text-on-slider {
	    font-size: 36px;
	}
}

@media (min-width: 640px) { 
	body {
		width: 100%;
	}

	.wrapper-header-menu {
		margin: 0 auto;
	}

	.text-on-slider {
		font-size: 46px;
		top: 45%;
	}

	.wrapper-about-massage .header-text {
		margin-top: 30px;
	}

	.about-massage-block {
		width: 70%;
		margin: 30px auto;
		padding: 20px 25px;
	}

	.wrapper-comment-block {
		flex-flow: row wrap;
		justify-content: center;
	}

	.wrapper-comments {
		width: 80%;
		text-align: center;
	}

	.certificates .bx-wrapper .bx-viewport {
		height: 50% !important;
	}

	.certificates-style {
		height: 450px;
	}

	.certificates-style-height {
		height: 130px;
	}

	.wrapper-index input,
	.wrapper-index textarea,
	.send-mail {
		width: 70%;
		margin: 16px auto;
	}

}

@media (min-width: 660px) {
	nav {
		position: static;
		order: 1;
	}

	#btn-menu {
		display: none;
	}

	.menu {
		display: inline-flex;
		flex-flow: row wrap;
		position: static;
		background: 0;
		padding: 0;
		margin: 0 10px;
	}

	.menu li a {
		color:  #60606E; 
	}

	nav:hover .menu {
		display: inline-flex;
	}

	.lang {
		margin: 0 6px;
		order: 2;
	}
}

@media (min-width: 960px) {
	body {
		width: 100%;
	}

	.wrapper-header-menu {
		width: 960px;
		margin: 0 auto;
	}
	
	.bxslider img {
		object-fit: cover;
    	height: 630px;
    	width: 100%;
	}
		
	.slider .bx-wrapper .bx-viewport {
		height: 650px !important;
	}

	.wrapper-content {
		flex-flow: row wrap;
		width: 960px;
		margin: 0 auto;
	}

	.about-massage-block {
		width: 44%;
		display: flex;
   		flex-flow: column wrap;
    	justify-content: space-between;
    	padding: 20px 30px;
	}

	.about-massage-block .header-text-secondary {
	    margin: 24px 0 0;
	}

	.wrapper-comment-block {
		width: 960px;
		margin: 0 auto;
    	flex-flow: row nowrap;
    	padding-bottom: 30px;
	}
	
	.wrapper-certificates {
		width: 960px;
		margin: 0 auto;
	}

	.certificates-style-height {
		height: 150px;
	}

	.copyright-block {
		width: 960px;
		margin: 0 auto;
	}

	.wrapper-all-form {
		width: 960px;
		margin: 0 auto;
	}

	.wrapper-contact {
		margin: 20px 0;
		padding: 10px;
	}

	.wrapper-contact-block {
		width: 960px;
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.contact {
		order: 1;
		margin: 0;
	}

	.wrapper-photo {
		order:2;
		width: 300px;
		height: 400px;
		border-radius: 0;
		margin: 0;
		background-color: transparent;
	}


} 
